/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/writable/debugbar/*
!/writable/cache/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/uploads/index.html
!/writable/debugbar/index.html

# Local env
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs sueltos en raíz
*.log
